.site-footer
  &__develop
    background: $black-develop
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 18px
    padding-bottom: 18px
    flex-wrap: wrap
  &__privat,
  &__develop__company
    margin: 0
    opacity: 0.3
    color: $white-text
    font-family: "Lato"
    font-size: 14px
    font-weight: 400
    &:hover
      color: $white-text
  &__info
    background-color: $black
    padding-top: 54px
    padding-bottom: 54px
  .footer-menu
    ul
      padding: 0
      margin: 0
      list-style: none
      display: flex
      flex-wrap: wrap
      +media-breakpoint-down(md)
        margin-top: 20px
        margin-bottom: 20px
      li
        flex: 0 0 50%
        margin-bottom: 10px
        +media-breakpoint-down(md)
          text-align: center
        a
          opacity: 0.7
          color: #ffffff
          font-family: "Lato"
          font-size: 16px
          font-weight: 400
          transition: 0.25s
          &:hover
            opacity: 1
  &__logo
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100%
  .site-description
    color: $white-text
    font-family: "Lato"
    font-size: 15px
    font-weight: 400
  &__social
    margin-top: 36px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    +media-breakpoint-down(md)
      width: 285px
      margin: 0 auto
      margin-top: 20px
  &__social__text
    opacity: 0.3
    color: $white-text
    font-family: "Lato"
    font-size: 15px
    font-weight: 400
  .site-button
    max-width: 320px
    margin: 0 auto
