.site-header
  .row-header
    background-color: $white-text
    padding: 26px 0
  &__logo
    display: flex
    align-items: center
    +media-breakpoint-down(md)
      justify-content: center
  &__line
    width: 1px
    height: 50px
    background-color: $black
    opacity: 0.2
    margin: 0 30px
    +media-breakpoint-down(md)
      display: none
  .site-description
    color: #111111
    font-family: "Lato - Heavy"
    font-size: 15px
    +media-breakpoint-down(md)
      display: none
    font-weight: 400
    margin: 0
  .line-left
    border-left: 1px solid rgba($white-text,.08)
  label
    width: 100%
  .search-field
    width: 100%
    padding-right: 50px
    border-radius: 23px
  .row-header-menu
    background-color: $black
  &__social
    display: flex
    justify-content: space-around
    align-items: center
    padding: 18px 0
    +media-breakpoint-down(sm)
      display: none
  &__menu-top
    display: flex
    justify-content: space-between
  .main-navigation
    +media-breakpoint-down(sm)
      display: none
    .sub-menu
      flex-direction: column
      background-color: $black
      li
        margin-bottom: 18px
        &:last-child
          margin-bottom: 0
        &::before
          content: ''
          display: block
          width: 100%
          height: 4px
          transform: translateY(0) scale(0)
          transition: all 0.25s ease
        &:hover
          &::before
            background-color: $accent
            transform: translateY(0) scale(1)
      a
        margin-left: 10px
    ul
      display: flex
      justify-content: space-between
      padding: 18px 0
    li.current-menu-item
      &::before
        background-color: $accent
        transform: translateY(-18px) scale(1)
    li
      &::before
        content: ''
        display: block
        width: 100%
        height: 4px
        transform: translateY(-18px) scale(0)
        transition: all 0.25s ease
      a
        color: #ffffff
        font-family: "Akrobat"
        font-size: 16px
        +media-breakpoint-down(md)
          font-size: 14px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0.8px
      &:hover
        &::before
          background-color: $accent
          transform: translateY(-18px) scale(1)
  .hamburger
    display: none
    +media-breakpoint-down(sm)
      display: inline-block
      float: right
      background: $black
    &:hover
      opacity: 1
    &-inner
      background-color: $accent
      &::after,
      &::before
        background-color: $accent
  .scroll-top
    position: fixed
    top: 0
    z-index: 999
    width: 100%
.mm-menu
  background-color: $black
  +media-breakpoint-up(md)
    display: none !important

.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout
  +media-breakpoint-up(md)
    transform: none !important

.mm-panels
  ul
    li
      position: relative
      &.current-menu-item
        &::before
          content: ''
          display: block
          position: absolute
          width: 4px
          height: 40px
          background-color: $accent
          transition: all 0.25s ease
      &::after
        right: 20px
        border: 0.3px solid $grey2
      a
        color: $white-text !important
.mmenu-logo
  width: 100%
  height: 40px
  background: url(../img/logo-footer.svg) no-repeat top center
  background-size: 110px

.mm-menu .mm-listview .mm-btn_next:after,
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before
  border-color: $white-text

.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*
  color: $white-text
