.partners
  padding-bottom: 97px
  .site-title
    margin-bottom: 59px
  .partners-carousel
    .item
      background-color: $grey
      display: flex
      max-width: 179px
      width: 100%
      min-height: 133px
      justify-content: center
      align-items: center
      margin: auto
      > img
        display: block
        max-width: 98px
        height: auto
    .owl-nav
      position: absolute
      top: -105px
      right: 0
      +media-breakpoint-down(xs)
        display: none
