.search-results
  .page-title
    margin-bottom: 60px
  article
    margin-bottom: 30px
  .entry-title
    margin: 0
    font-size: 100%
    a
      font-size: 24px
      color: $black
      transition: all 0.25s ease
      &:hover
        color: $accent
