.sections-go
  .site-title
    margin-bottom: 55px
  .product-category
    border-bottom: 4px solid transparent
    transition: all 0.25s ease
    &:hover
      border-bottom: 4px solid $accent
      .woocommerce-loop-category__title
        color: $accent
    a
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      min-height: 160px
      background-color: $grey

    img
      display: block
      margin: auto
      max-width: 60px
      margin: 23px
  .woocommerce-loop-category__title
    text-align: center
    color: $text
    font-family: "Lato - Heavy"
    font-size: 16px
    font-weight: 400
    transition: all 0.25s ease
    .count
      display: none
  &-button
    display: flex
    justify-content: center
    margin-bottom: 80px
  .site-button
    max-width: 176px
