.widget-title
  color: #111111
  font-family: "Akrobat"
  font-size: 26px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 25px
.widget
  .woof_redraw_zone
    padding-right: 24px
    padding-left: 24px
    background: $grey
  .woof_submit_search_form_container
    border-top: none
    margin: 0
    padding: 30px 0 30px
