.useful-articles
  padding-top: 0 !important
  &__block
    margin-bottom: 30px
    > img
      width: 100%
      height: auto

  &__info
    padding: 28px 22px
    background-color: $grey
    display: flex
    flex-direction: column
    justify-content: space-between
  &__title
    color: $text
    font-family: "Lato - Heavy"
    font-size: 20px
    font-weight: 400
    transition: color 0.25s ease
  &__date
    color: $grey2
    font-family: "Lato"
    font-size: 12px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.6px
  &__content
    color: $text
    font-family: "Lato"
    font-size: 16px
    font-weight: 400
    line-height: 24px
  &__link
    &:hover
      .useful-articles__title
        color: $accent
