@import "vars"
@import "fonts"
@import "libs"
@import "_template/extand"
@import "_layout/extand"

::placeholder
	color: #666

::selection
	color: #fff

*
	outline: none !important

html
	font-size: 10px

body
	font-size: 1.6rem
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url(../img/body-bg.png)
	&.no-scroll
		overflow: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	&:hover
		text-decoration: none

// Верхнее меню
#wpadminbar
	display: none !important

.section
	padding-top: 70px
	padding-bottom: 50px

.entry-content
	margin: 0

.bg-main-content
	background-color: $white-text
	padding-top: 30px
	padding-bottom: 30px

.bg-broadcrumbs
	background-color: $grey
	padding-top: 17px
	padding-bottom: 17px
	a
		color: $accent
		&:hover
			color: $accent-hover
	span
		color: $grey2

.more-slider
	color: $white-text
	font-family: "Akrobat"
	font-size: 16px
	font-weight: 400
	text-transform: uppercase
	letter-spacing: 0.8px
	padding-right: 31px !important
	background-color: transparent !important
	background: url(../img/icon/left-arrow.svg) no-repeat center right
	background-size: 15px
	&:hover
		color: $white-text
.slider-title
	color: #ffffff
	font-family: "Akrobat"
	font-size: 40px
	font-weight: 700
	text-transform: uppercase
	line-height: 40px
	letter-spacing: 2px
.section-title
	display: flex
	justify-content: space-between
	align-items: center
.link-all
  color: $accent
  font-family: "Akrobat"
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.8px
  padding-right: 17px
  background: url(../img/icon/next.svg) no-repeat center right
  background-size: 12px
.link-all
	&:hover
		color: $accent-hover

.woocommerce ul.products li
	margin-bottom: 30px !important

.hidden-md
	+media-breakpoint-down(md)
		display: none
.more-count
	display: none
	+media-breakpoint-down(sm)
		display: block
	float: right
	color: $accent
	cursor: pointer
	&:hover
		color: $accent-hover
.hidden
	display: none

.bg-grey
  background-color: $grey

.page-id-15
 .custom-filter-radio
	 display: none



@import "media" // Always at the end
