.arrow-left,
.arrow-right
  display: block
  width: 17px
  height: 27px
  background: url(../img/icon/back.svg) no-repeat center center
  background-size: 25px

.arrow-right
  transform: rotate(180deg)

.arrow-left
  margin-right: 27px
