.feedback
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0,0,0,.4)
  z-index: 999999
  display: none
  justify-content: center
  align-items: center
  &__form
    width: 100%
    max-width: 520px
    min-width: 320px
    background-color: $white-text
    z-index: 999
    position: absolute
    overflow-y: auto
    +media-breakpoint-down(sm)
      height: 100vh
      top: 0
      overflow-y: auto
  &__close
    position: absolute
    right: 10px
    top: 10px
    width: 20px
    height: 20px
    cursor: pointer
    &::after,
    &::before
      content: ''
      display: block
      position: absolute
      background: $black
      width: 100%
      top: 50%
      height: 1px
    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)
  form
    padding: 40px 40px 20px
  input[type="checkbox"]
    width: auto
    height: auto
    margin: 0
  span.wpcf7-list-item
    margin: 0
  &__field
    margin-bottom: 15px
  &__title
    text-align: center
    font-family: "Akrobat"
    font-size: 30px
    +media-breakpoint-down(xs)
      font-size: 24px
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 15px
