input,
select
  width: 100%
  height: 48px
  border-radius: 3px
  border: 2px solid $grey3
  background-color: $white-text
  color: $grey2
  font-family: "Lato"
  font-size: 15px
  font-weight: 400
textarea
  width: 100%
  border-radius: 3px
  border: 2px solid $grey3
  background-color: $white-text
  color: $grey2
  font-family: "Lato"
  font-size: 15px
  font-weight: 400
input[type="text"],
input[type="mail"],
input[type="tel"],
input[type="search"],
textarea
  padding-left: 16px
