#hellopreloader
   > p
     display:none

#hellopreloader_preload
  display: block
  position: fixed
  z-index: 9999999
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #172027 url(../img/sport.gif) no-repeat center center
  // background-size: 100px
