.search-form
  position: relative
  +media-breakpoint-down(sm)
    margin-top: 10px
    margin-bottom: 10px
.search-submit
  position: absolute
  max-width: 50px
  top: 0
  right: 0
  background-color: transparent
  border: 0
  background-image: url(../img/icon/magnifier-1.svg)
  background-repeat: no-repeat
  background-position: center
  cursor: pointer
