.site-button
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 46px
  border-radius: 23px !important
  background-color: $accent !important
  color: $white-text !important
  font-family: "Akrobat"
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 0.8px
  transition: all 0.25s ease
  border: 0
  padding: 0
  cursor: pointer
  &:hover
    color: $white-text !important
    background-color: $accent-hover !important
