.vk-icon,
.facebook-icon,
.ok-icon,
.insta-icon
  display: block
  background-color: $white-text
  background-position: center
.vk-icon
  width: 21px
  height: 12px
  mask-image: url(../img/icon/vk.svg)
  &:hover
    background-color: #45668e
.facebook-icon
  width: 9px
  height: 18px
  mask-image: url(../img/icon/fb.svg)
  &:hover
    background-color: #3b5998

.ok-icon
  width: 11px
  height: 19px
  mask-image: url(../img/icon/ok.svg)
  &:hover
    background-color: #f2720c

.insta-icon
  width: 20px
  height: 20px
  mask-image: url(../img/icon/instagram.svg)
  &:hover
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
