.product-vendor
  .vendor_description
    background-color: transparent
  .img_div
    img
      width: 100%
      max-width: 100%
      max-height: none
      height: auto
      border: none !important
  .wcmp_vendor__field
    display: flex
    color: $text
  .wcmp_vendor__field-label
    width: 40%
    font-family: "Lato - Heavy"
    font-size: 16px
    font-weight: 400
    line-height: 34px
  .wcmp_vendor__field-value
    width: 60%
    font-family: "Lato"
    font-size: 16px
    font-weight: 400
    line-height: 34px
    p
      margin-bottom: 0
    a
      color: $accent
      text-decoration: underline
  .description_data__title
    margin-top: 40px
    margin-bottom: 30px
    color: $text
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 700
    text-transform: uppercase

  .description_data__content
    margin-bottom: 57px

  .title-section-brand
    color: #111111
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 30px
