.pwb-brands-cols-outer
  display: flex
  flex-wrap: wrap
  .pwb-brands-col3
    margin-bottom: 30px
    width: calc(100% / 4) !important
    +media-breakpoint-down(sm)
      width: calc(100% / 3) !important
    +media-breakpoint-down(xs)
      width: calc(100% / 2) !important
    display: flex
    flex-direction: column-reverse
    align-items: center
    justify-content: center
    height: 170px
    position: relative
    &::after
      content: ''
      position: absolute
      display: block
      width: calc(50% - 15px)
      height: 100%
      top: 0
      left: 15px
      background-color: $grey
      z-index: 0
    &::before
      content: ''
      position: absolute
      display: block
      width: calc(50% - 15px)
      height: 100%
      top: 0
      right: 15px
      background-color: $grey
      z-index: 0
    img
      margin-bottom: 27px
    p
      z-index: 1
      color: $text
      font-family: "Lato - Heavy"
      font-size: 16px
      font-weight: 400
      small
        display: none
    div
      z-index: 1
.pwb-pagination-wrapper
  display: none
