.entry-title
  font-family: "Akrobat"
  font-size: 40px
  font-weight: 700
  margin-bottom: 38px
.term-description
  font-family: "Lato"
  font-size: 16px
  font-weight: 400
  margin-bottom: 30px

.section-title-category
  margin-bottom: 37px
  font-family: "Akrobat"
  font-size: 24px
  font-weight: 700
  text-transform: uppercase

.woocommerce ul.products li.product .woocommerce-loop-product__title
  font-family: "Lato - Heavy"
  font-size: 18px
  font-weight: 400
  transition: color 0.25s ease
  padding: 0 19px
  padding-bottom: 19px

.woocommerce-loop-product__title
  color: $text

.product-loop
  background-color: $grey
  padding-bottom: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  cursor: pointer

  .woocommerce-LoopProduct-link.woocommerce-loop-product__link
    img
      max-width: 278px
  .site-button
    max-width: 146px
    margin: 0 20px

  &:hover
    .woocommerce-loop-product__title
      color: $accent

.li-product-cat
  +media-breakpoint-down(xs)
    width: 100% !important

.woocommerce-loop-product-attr-block
  margin-bottom: 20px

.woocommerce-loop-product-value
  display: block
  color: $grey2
  font-family: "Lato"
  font-size: 14px
  font-weight: 400
  margin-bottom: 5px
  padding: 0 20px

.product-loop .woocommerce-LoopProduct-link.woocommerce-loop-product__link img
  max-width: none !important
