.single-product
  .tabs.wc-tabs
    display: none

  .entry-summary
    margin: 0

  .woocommerce-Tabs-panel
    h2
      display: none

  table.shop_attributes
    border-top: none
    th
      color: $text
      font-family: "Lato - Heavy"
      font-size: 16px
      font-weight: 400
      line-height: 34px
    td
      a
        color: $text
        font-family: "Lato"
        font-size: 16px
        font-weight: 400
        line-height: 34px
        font-style: normal
    th,
    td
      border-bottom: none
      background: none !important

  &__location
    background-color: $grey
    padding: 20px
  &__location-block__label
    color: $grey4
    font-family: "Lato"
    font-size: 16px
    font-weight: 400
    margin-bottom: 12px

  &__location-block__value,
  &__location-block__value a
    color: $text
    font-family: "Lato - Heavy"
    font-size: 18px
    font-weight: 400
    line-height: 34px
    margin-bottom: 20px

  div.product .woocommerce-tabs .panel
    margin-bottom: 0

  .woocommerce-product-gallery__image
    display: none

  .product-image
    .owl-stage-outer
      margin-bottom: 8px

  .product-image-thumbnails
    .owl-stage
      display: flex
    .owl-item.current
      position: relative
      &::after
        content: ''
        position: absolute
        display: block
        height: 4px
        width: 100%
        bottom: 0
        left: 0
        background: $accent
  &__description
    margin-bottom: 150px
    h2
      font-family: "Akrobat"
      font-size: 24px
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 30px

  &__section
    font-family: "Lato"
    font-size: 16px
    font-weight: 400
    line-height: 34px
    color: $accent !important
    text-decoration: underline
    &:hover
      text-decoration: none
