.wcmp_vendor_list_wrap img#vendor_image_display
  border-radius: 0 !important

.wcmp_sorted_vendors
  border: 0 !important
  background: $grey !important
  border-bottom: 4px solid transparent !important
  transition: all 0.25s ease
  &:hover
    border-bottom: 4px solid $accent !important
    .button
      color: $accent
  .button
    color: $text
    font-family: "Lato - Heavy"
    font-size: 16px
    font-weight: 400
    background-color: transparent !important
    text-align: center
    padding: 8px 8px !important
    display: block
    transition: all 0.25s ease
.vendor_img_block_image
  display: block
  img
    width: 100%
    max-width: 87px
.vandor-select__title
  color: $text
  font-family: "Lato - Heavy"
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 0.7px
  margin-bottom: 12px

.widget_filter_vendor_widget
  background-color: $grey
  padding: 25px

.vendor_sort
  .filter-block
    margin-bottom: 30px

  .filter-block-tag
    display: flex
    align-items: center
    margin-bottom: 15px
    input
      width: 20px
      height: 20px
      position: relative
      border-radius: 50%
      &:before
        content: ''
        position: absolute
        display: block
        width: 20px
        height: 20px
        top: calc(50% - 10px)
        left: calc(50% - 10px)
        border-radius: 50%
        border: 2px solid $grey3
        background-color: $white-text
      &:checked
        &:after
          content: ''
          position: absolute
          display: block
          width: 12px
          height: 12px
          top: calc(50% - 6px)
          left: calc(50% - 6px)
          background-color: $accent
          border-radius: 50%
    label
      padding-left: 10px
      margin-bottom: 0
.field_81
  display: none !important
