.filter-home
  .site-title
    padding-top: 69px
.woof
  [class*="_reset"]
    display: none !important
  .woof_redraw_zone
    padding-top: 43px
  input
    width: auto
    height: auto
  .woof_list_radio
    padding: 0
  [class*='woof_term_']
    display: flex
    align-items: center
    padding-bottom: 0 !important
  label
    color: $text
    font-family: "Lato"
    font-size: 14px
    font-weight: 400
    margin-left: 10px
  input[type*="radio"]
    position: relative
    &::after
      content: ''
      display: block
      position: absolute
      width: 20px
      height: 20px
      left: calc(50% - 11px)
      top: calc(50% - 11px)
      border-radius: 50%
      border: 2px solid $grey3
      background-color: $white-text
      z-index: 1
    &:checked
      &::before
        content: ''
        display: block
        position: absolute
        width: 12px
        height: 12px
        left: calc(50% - 7px)
        top: calc(50% - 7px)
        border-radius: 50%
        background-color: $accent
        z-index: 2

  h4
    color: $text
    font-family: "Lato - Heavy"
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.7px
  .chosen-single
    border-radius: 3px
    border: 2px solid $grey3
    background: $white-text !important
    background-color: $white-text
    width: 100%
    height: 48px !important
    display: flex
    align-items: center

  .chosen-container-single .chosen-single div
    height: auto
    top: calc(50% - 6px)
  .chosen-container-single .chosen-single div b
    background-image: url(../img/down.png) !important
    background: url(../img/down.png) no-repeat center center
    background-size: 12px !important
    width: 12px
    height: 12px
  .woof_submit_search_form_container
    width: 100%
    display: flex
    justify-content: center
  .site-button
    max-width: 175px
  .woof_submit_search_form_container
    margin-top: 30px
    padding: 30px 0 50px
    margin: 30px 15px 0
    border-top: 2px solid rgba($text,.1)
  .irs-line
    border-radius: 2px
  .irs-line-left,
  .irs-line-right,
  .irs-line-mid
    border-radius: 2px
    background: none
    background-color: $black
  .irs-bar
    background: none
    background-color: $accent
  .irs-grid
    display: none !important
  .irs-slider
    top: 13px
  .irs-slider.from,
  .irs-slider.to
    width: 28px
    height: 30px
    background: url(../img/slider-point.png) repeat-x center center
  .irs-min,
  .irs-max
    display: none
  .irs-from,
  .irs-to
    width: 44px
    height: 36px
    top: -80%
    color: $text
    display: flex
    justify-content: center
    align-items: center
    border: 2px solid $grey3
    background-color: $white-text
    font-family: "Lato"
    font-size: 16px
    font-weight: 400
    &:after
      content: ''
      display: block
      position: absolute
      top: 100%
      border: 8px solid transparent
      border-top: 8px solid $white-text
      z-index: 2
    &:before
      content: ''
      display: block
      position: absolute
      top: 100%
      border: 11px solid transparent
      border-top: 11px solid $grey3
      z-index: 1
  .irs-slider
    cursor: pointer

  .woof_container_slider
    .woof_block_html_items
      padding-top: 40px
      &.disabled
        position: relative
        &::before
          content: ''
          display: block
          position: absolute
          width: calc(100% + 30px)
          height: 100%
          top: 0
          left: -15px
          z-index: 99
          background-color: rgba($grey, 0.4)

.home
  .woof_submit_search_form_container
    button
      opacity: 0
      transition: 0.25s
